<div class="rounded-2xl bg-teal-light px-6 py-6 text-center sm:px-10">
  <p class="text-base font-medium text-teal-deep">
    Not sure what you need? <a href="/contact" class="underline underline-offset-2 hover:no-underline"
      >Get in touch and we'll find the best solution together.</a
    >
  </p>
</div>
